@use "../core/variables" as vars;

.hero {
  height: 100vh;
  background-image: url("../images/cover.jpeg");
  background-size: cover;
  background-position: 85%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding: 0 50px 120px;
  color: vars.$fourth-color;
  text-align: center;

  &__title {
    font-family: vars.$font-slab;
    font-size: 40px;
    text-transform: uppercase;
  }

  &__text {
    font-family: vars.$font-regular;
    font-size: 20px;
  }

  &__arrow {
    background-color: vars.$fourth-color;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    padding-top: 18px;
  }
}

@media (min-width: 768px) {
  .hero {
    padding: 0 250px 30px;
    gap: 15px;

    &__title {
      font-size: 75px;
    }

    &__text {
      font-size: 24px;
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    &__arrow {
      margin-top: 24px;
    }
  }
}
