@use "../core/variables" as vars;

.shop {
  background-color: vars.$fourth-color;
  padding: 30px 18px;

  &__subtitle {
    color: vars.$main-color;
    font-family: vars.$font-regular;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  &__title {
    color: vars.$fifth-color;
    font-family: vars.$font-slab;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 12px;
  }

  &__text {
    color: vars.$third-color;
    font-family: vars.$font-regular;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 50px;
    text-align: justify;
  }

  &__buy {
    color: vars.$main-color;
    font-family: vars.$font-regular;
    font-size: 20px;
    font-weight: 450;
    border: 3px solid vars.$main-color;
    padding: 6px 30px;
    border-radius: 25px;
  }
}

@media (min-width: 768px) {
  .shop {
    padding: 30px 30px 70px;

    &__subtitle {
      font-size: 16px;
    }

    &__title {
      font-size: 32px;
    }

    &__text {
      font-size: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .shop {
    max-width: 75vw;
    margin: 0 auto;
  }
}