<section class="school">
  <a name="schoolSection"></a>
  <p class="school__subtitle">¡Prepáralos con tus marcas favoritas!</p>
  <h3 class="school__title">Vuelta al cole</h3>
  <div class="container">
    <div class="container__item">
      <div class="container__item__img">
        <img
          src="./images/lpbts-mod05-img01-desk.png"
          alt="Niña con mochila escolar Puma"
        />
      </div>
      <p class="container__item__text">Mochilas escolares</p>
    </div>
    <div class="container__item">
      <div class="container__item__img">
        <img
          src="./images/lpbts-mod05-img04-mob.png"
          alt="Niño con material escolar"
        />
      </div>
      <p class="container__item__text">Estuches</p>
    </div>
    <div class="container__item">
      <div class="container__item__img">
        <img
          src="./images/lpbts-mod05-img03-mob.png"
          alt="Niña con bolsa de deporte Nike"
        />
      </div>
      <p class="container__item__text">Bolsas de deporte</p>
    </div>
  </div>
  <button class="school__button" href="">Empezar ahora</button>
</section>
