<section class="school">
  <a name="schoolSection"></a>
  <div>
    <p>¡Prepáralos con tus marcas favoritas!</p>
    <h3>Vuelta al cole</h3>
  </div>
  <div>
    <img
      src="../images/lpbts-mod05-img01-desk.png"
      alt="Niña con mochila escolar Puma"
    />
    <p>Mochilas escolares</p>
  </div>
  <div>
    <img
      src="../images/lpbts-mod05-img04-mob.png"
      alt="Niño con material escolar"
    />
    <p>Estuches</p>
  </div>
  <div>
    <img
      src="../images/lpbts-mod05-img03-mob.png"
      alt="Niña con bolsa de deporte Nike"
    />
    <p>Bolsas de deporte</p>
  </div>
  <div>
    <a href="">Empezar ahora</a>
  </div>
</section>
